.container {
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}
.form {
    width: 600px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #3bb9ff;
}
label {
	color: #fff;
}